 #caja1,
 #caja2 {
    display: block;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 10px solid red;
    margin: 15px 10px 40px 24px;
    padding: 20px;
    float: right;
 }

 p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 230px;
 }

 .clearfix{
    display: none;
    clear: both;
 }