//VARIABLES
$fuente-tipica: Helvetica, Sans-serif, Arial;
$color-fondo: #ccc;
$color-letra: red;
$color-secundario: rgb(165, 34, 34);

//VARIABLES USO
body {
  background-color: $color-fondo;
}

h1 {
  color: $color-letra;
  font-family: $fuente-tipica;
}

p {
  color: $color-secundario;
}

//ANIDACIÓN
.caja {
  border: 1px solid black;
  width: 500px;
  margin: 0px auto;
  text-align: center;
  background-color: white;
  padding: 10px;
  h1 {
    color: blue;
  }
  p {
    color: green;
  }
  .info {
    font-size: 10px;
    .autor {
      color: violet;
    }
  }
}

//MIXINS / FUNCIONES

@mixin crearBorder($color, $size, $shadow) {
  border: $size solid $color;
  border-radius: $size;
  box-shadow: 0px 0px $size $shadow;
}

.caja {
  @include crearBorder(red, 10px, black);
}

.listado {
  @include crearBorder(green, 5px, yellow);
}

// HERENCIA

%alert-normal {
  border: 1px solid gray;
  background: #eee;
  color: gray;
  padding: 10px;
  margin: 20px auto;
  width: 80%;
}

.alert {
  @extend %alert-normal;
}

.alert-success {
  @extend %alert-normal;
  color: green;
  border-color: green;
}

.alert-danger {
  @extend %alert-normal;
  color: red;
  border-color: red;
}

//Operadores
.clearfix {
  clear: both;
}
h1 {
  font-size: 20px + 5px - 1px;
}

//variables caja
$caja-size: 200px;
$wrap: 900px;

.cajas {
  width: $wrap;
  margin: 0px auto;
}

.caja {
  float: left;
  width: $caja-size / $wrap * 100%;
  margin: 10px;
}

//CONDICIONALES
//IF
h1 {
  @if $color-fondo == #ccc {
    color: black;
  } @else if $color-fondo == black {
    color: lightsalmon;
  } @else {
    color: pink;
  }
}

//FOR
$iterator: 1;

@for $iterator from 1 through 10 {
  .listado ul li:nth-child(#{$iterator}) {
    font-size: $iterator * 2px;
  }
}
