body{
    background-color: blue;
    background-image: url("img/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover  ;
    background-attachment: fixed; /* Para que no se mueva el fondo al scrollear */
}

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
    vertical-align: top;
}

p{
    text-indent: 10px;
    word-spacing: 10px;
    letter-spacing: 0px;
}